**/.vs
**/bin
**/obj
config.json
injection.js
plugin.js
dom_shit.js
plugins/avatar_links.js
plugins/char_count.js
plugins/css_loader.js
plugins/direct_download.js
plugins/double_click_edit.js
plugins/double_click_mention.js
plugins/ed_settings.js
plugins/guild_count.js
plugins/hidden_channels.js
plugins/quick_save.js
plugins/silence.js
plugins/style.css
plugins/tag_all.js
